{% extends '_layouts/base.njk' %}
{% block page_title %} Discography {% endblock %}
{% block content %}

<div class= "row">
    {% for discography in data.discography %}
    <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
      <img src = "img/img/discs/{{ discography.image }}">
      <div class="card-body">
      <h5 class="card-title"> {{ discography.title }} </h5>
      <p class="card-text"> {{ discography.year }} </p>
    </div>
    </div>
    </div>
    {% endfor %}
<iframe title="Queen's Billboard Hits:" aria-label="Split Bars" id="datawrapper-chart-EylKl" src="//datawrapper.dwcdn.net/EylKl/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 70% !important; border: none;" height="912"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>

    </div>
{% endblock %}